<div class="flex justify-center cont">
  <highcharts-chart
    [Highcharts]="Highcharts"
    [options]="moviePieOptions"
    style="width: 100%; height: 400px; display: block; border: 1px solid black"
  >
  </highcharts-chart>

  <highcharts-chart
    [Highcharts]="Highcharts"
    [options]="seriesPieOptions"
    style="width: 100%; height: 400px; display: block; border: 1px solid black"
  >
  </highcharts-chart>
</div>

<highcharts-chart
  [Highcharts]="Highcharts"
  [options]="barchart"
  style="width: 100%; height: 400px; display: block; border: 1px solid black"
>
</highcharts-chart>

<highcharts-chart
  [Highcharts]="Highcharts"
  [options]="barobj"
  style="width: 100%; height: 400px; display: block; border: 1px solid black"
>
</highcharts-chart>

<highcharts-chart
  [Highcharts]="Highcharts"
  [options]="lineobj"
  style="width: 100%; height: 400px; display: block; border: 1px solid black"
>
</highcharts-chart>

<highcharts-chart
  [Highcharts]="Highcharts"
  [options]="lineobj2"
  style="width: 100%; height: 400px; display: block; border: 1px solid black"
>
</highcharts-chart>
